.header {
  padding-bottom: 100px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 590px) {
  .header__title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .header {
    padding-bottom: 30px;
  }
}
